{% extends "base.html" %}
{% block title %}Cambio de contraseña{% endblock %}

{% block contenido %}

	<section id="intranet">

		{% include "include/menu_lateral.html" %}

		<div class="body">
			<form class="form" method="post" id="password_form" name="password_form" action="/accounts/changed_password" onSubmit="javascript:return validar_campos();">{% csrf_token %}
			    <h3>Cambio de Password</h3>
				{{ form.as_p }}
				<input type="hidden" name="usuario" value="{{user.username}}" />
				<p><button class="submit" type="submit">Guardar</button></p> 
			</form>
		</div>
		
	</section>
	
{% endblock %}

{% block js %}
<script type="text/javascript">
	function validar_campos()
	{
		if (document.password_form.usuario.value == document.password_form.new_password1.value){
			alert("La contraseña no puede ser igual al nombre de usuario");
			document.password_form.new_password1.focus();
			return (false);
		}
	       
	}
</script>
{% endblock %}
