 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                 <h5 class="white-text">Agenda tu hora</h5>
                <img src="/static/images/familia.svg" height="150" width="180">
              </div>
              <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Historial Digital</h5>
                    
                <ul> <img align="right"src="/static/images/bebe.svg" height="70" width="90">
                  <li><a class="grey-text text-lighten-3" href="https://www.optiitsoft.cl/">Control N°1</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.optiitsoft.cl/">Control N°2</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.optiitsoft.cl/">Control N|3</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.optiitsoft.cl/">Control N|4</a></li>
                 
                </ul>
                
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Karawe Weñi Tremo | CONSULTORIA OPT-IT SOFT LTDA.
            <a class="grey-text text-lighten-4 right" href="https://www.optiitsoft.cl/">Todos los derechos reservados</a>
            </div>
          </div>
        </footer>
<style>
  footer{
background: 
linear-gradient(90deg,
 rgba(214,39,23,0.6727284663865547) 0%,
 rgba(253,77,29,0.790375525210084) 50%,
 rgba(252,155,69,0.9276304271708683) 100%);

} 
</style>        
      