 <footer class="page-footer #A4A4A4 grey darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                 <h5 class="white-text">Reserva tu hora</h5>
                <img src="/static/images/logo-blanco.png" height="150" width="180">
              </div>
              <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Trámites disponibles OTC</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.optiitsoft.cl/">Renovación de Licencias de Conducir</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.optiitsoft.cl/">Ayuda Social en Dideco</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.optiitsoft.cl/">Esterilización de mascotas</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.optiitsoft.cl/">Solicitud de becas y otros beneficios</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Consultoría OPT-IT SOFT LTDA.
            <a class="grey-text text-lighten-4 right" href="#!">Todos los derechos reservados</a>
            </div>
          </div>
        </footer>
      